services:
    caddy:
        image: caddy:2-alpine
        restart: unless-stopped
        container_name: caddy
        ports:
            - "80:80"
            - "443:443"
            - "443:443/udp"
        environment:
            DOMAIN: ${DOMAIN}
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile:ro
            - caddy_data:/data
            - caddy_config:/config
        networks:
            - net
        depends_on:
            - task-manager
            - main-service
            - storage-service
            - notifications-service
            - chat-service
            - authentik_server

    postgres:
        image: postgres:latest
        restart: unless-stopped
        container_name: postgres
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
            interval: 10s
            timeout: 5s
            retries: 10
        deploy:
            resources:
                limits:
                    memory: 512M
                    cpus: "0.5"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB_NAME}
            POSTGRES_SSL_MODE: disable
            AUTHENTIK_DB_USER: ${AUTHENTIK_DB_USER}
            AUTHENTIK_DB_NAME: ${AUTHENTIK_DB_NAME}
            AUTHENTIK_DB_PASSWORD: ${AUTHENTIK_DB_PASSWORD}
        volumes:
            - pgdata:/var/lib/postgresql/data
        networks:
            - net

    postgres-init:
        image: postgres:16-alpine
        container_name: postgres-init
        depends_on:
            postgres:
                condition: service_healthy
        networks:
            - net
        environment:
            PGPASSWORD: ${POSTGRES_PASSWORD}
            NEW_DB: ${AUTHENTIK_DB_NAME}
            NEW_USER: ${AUTHENTIK_DB_USER}
            NEW_PASS: ${AUTHENTIK_DB_PASSWORD}
        command: >
            bash -c "
            echo 'Check if user exists...';
            psql -h postgres -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME} -tAc \"SELECT 1 FROM pg_roles WHERE rolname='${AUTHENTIK_DB_USER}'\" | grep -q 1 || \
            psql -h postgres -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME} -c \"CREATE USER ${AUTHENTIK_DB_USER} WITH PASSWORD '${AUTHENTIK_DB_PASSWORD}';\";

            echo 'Check if database exists...';
            psql -h postgres -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME} -tAc \"SELECT 1 FROM pg_database WHERE datname='${AUTHENTIK_DB_NAME}'\" | grep -q 1 || \
            psql -h postgres -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME} -c \"CREATE DATABASE ${AUTHENTIK_DB_NAME} OWNER ${AUTHENTIK_DB_USER};\";

            echo 'Granting privileges...';
            psql -h postgres -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME} -c \"GRANT ALL PRIVILEGES ON DATABASE ${AUTHENTIK_DB_NAME} TO ${AUTHENTIK_DB_USER};\";

            echo 'Authentik DB init complete';
            "

    rmq:
        image: rabbitmq:management-alpine
        restart: unless-stopped
        container_name: rmq
        healthcheck:
            test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
            interval: 10s
            timeout: 5s
            retries: 10
            start_period: 10s
        deploy:
            resources:
                limits:
                    memory: 256M
                    cpus: "0.5"
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
        networks:
            - net
        volumes:
            - rmqdata:/var/lib/rabbitmq

    redis:
        image: redis:alpine
        restart: unless-stopped
        container_name: redis
        command: ["redis-server", "--appendonly", "yes"]
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 10s
            retries: 10
            start_period: 10s
        deploy:
            resources:
                limits:
                    memory: 128M
                    cpus: "0.1"
        volumes:
            - redisdata:/data
        networks:
            - net

    authentik_server:
        image: ghcr.io/goauthentik/server:2025.2.4
        restart: unless-stopped
        container_name: authentik_server
        command: server
        deploy:
            resources:
                limits:
                    memory: 1GB
                    cpus: "1.0"
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    'python3 -c ''import urllib.request; urllib.request.urlopen("http://localhost:9000/-/health/live/")''',
                ]
            interval: 30s
            timeout: 10s
            retries: 10
            start_period: 40s
        environment:
            AUTHENTIK_REDIS__DB: 9
            AUTHENTIK_REDIS__HOST: redis
            AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
            AUTHENTIK_ALLOWED_HOSTS: "localhost,authentik_server,auth.${DOMAIN}"
            AUTHENTIK_POSTGRESQL__HOST: postgres
            AUTHENTIK_SLUG: ${AUTHENTIK_SLUG}
            AUTHENTIK_CLIENT_ID: ${AUTHENTIK_CLIENT_ID}
            AUTHENTIK_REDIRECT_URI: ${AUTHENTIK_REDIRECT_URI}
            AUTHENTIK_POSTGRESQL__USER: ${AUTHENTIK_DB_USER}
            AUTHENTIK_POSTGRESQL__NAME: ${AUTHENTIK_DB_NAME}
            AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_DB_PASSWORD}
            AUTHENTIK_REDIRECT_URI_SILENT: ${AUTHENTIK_REDIRECT_URI_SILENT}
            AUTHENTIK_NOTIFICATION_WEBHOOK_USER_SYNC: ${AUTHENTIK_NOTIFICATION_WEBHOOK_USER_SYNC}
        volumes:
            - authentik_media:/media
            - authentik_templates:/templates
            - authentik_blueprints:/blueprints
        depends_on:
            postgres:
                condition: service_healthy
            redis:
                condition: service_healthy
        networks:
            - net

    authentik_worker:
        image: ghcr.io/goauthentik/server:2025.2.4
        restart: unless-stopped
        container_name: authentik_worker
        command: worker
        deploy:
            resources:
                limits:
                    memory: 1GB
                    cpus: "1.0"
        environment:
            AUTHENTIK_REDIS__DB: 9
            AUTHENTIK_REDIS__HOST: redis
            AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
            AUTHENTIK_ALLOWED_HOSTS: "localhost,authentik_server,auth.${DOMAIN}"
            AUTHENTIK_POSTGRESQL__HOST: postgres
            AUTHENTIK_SLUG: ${AUTHENTIK_SLUG}
            AUTHENTIK_CLIENT_ID: ${AUTHENTIK_CLIENT_ID}
            AUTHENTIK_REDIRECT_URI: ${AUTHENTIK_REDIRECT_URI}
            AUTHENTIK_POSTGRESQL__USER: ${AUTHENTIK_DB_USER}
            AUTHENTIK_POSTGRESQL__NAME: ${AUTHENTIK_DB_NAME}
            AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_DB_PASSWORD}
            AUTHENTIK_REDIRECT_URI_SILENT: ${AUTHENTIK_REDIRECT_URI_SILENT}
            AUTHENTIK_NOTIFICATION_WEBHOOK_USER_SYNC: ${AUTHENTIK_NOTIFICATION_WEBHOOK_USER_SYNC}
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - authentik_media:/media
            - authentik_templates:/templates
            - authentik_blueprints:/blueprints
        depends_on:
            postgres:
                condition: service_healthy
            redis:
                condition: service_healthy
        networks:
            - net

    main-service:
        restart: unless-stopped
        container_name: main-service
        image: ghcr.io/drummer143/task-manager/main-service:${IMAGE_TAG:-latest}
        depends_on:
            postgres:
                condition: service_healthy
            authentik_server:
                condition: service_healthy
            authentik_worker:
                condition: service_started
        deploy:
            resources:
                limits:
                    memory: 128M
                    cpus: "0.25"
        environment:
            DATABASE_URL: ${DATABASE_URL}
            PORT: ${MAIN_SERVICE_PORT}
            JWT_SECRET: ${JWT_SECRET}
            RABBITMQ_URL: ${RABBITMQ_URL}
            AUTHENTIK_JWKS_URL: ${AUTHENTIK_JWKS_URL}
            AUTHENTIK_AUDIENCE: ${AUTHENTIK_AUDIENCE}
            CORS_ORIGINS: https://${DOMAIN}
        networks:
            - net

    storage-service:
        restart: unless-stopped
        container_name: storage-service
        image: ghcr.io/drummer143/task-manager/storage-service:${IMAGE_TAG:-latest}
        depends_on:
            postgres:
                condition: service_healthy
            redis:
                condition: service_healthy
            authentik_server:
                condition: service_healthy
            authentik_worker:
                condition: service_started
        deploy:
            resources:
                limits:
                    memory: 192M
                    cpus: "0.25"
        environment:
            JWT_SECRET: ${JWT_SECRET}
            SELF_PORT: ${STORAGE_SERVICE_PORT}
            SELF_HOST: ${STORAGE_SERVICE_HOST}
            STATIC_FOLDER_PATH: ${STORAGE_SERVICE_STATIC_FOLDER_PATH}
            DATABASE_URL: ${DATABASE_URL}
            REDIS_URL: ${REDIS_URL}
            MAIN_SERVICE_URL: http://main-service:8080
            AUTHENTIK_JWKS_URL: ${AUTHENTIK_JWKS_URL}
            AUTHENTIK_AUDIENCE: ${AUTHENTIK_AUDIENCE}
            CORS_ORIGINS: https://${DOMAIN}
        networks:
            - net
        volumes:
            - storage_data:/static

    notifications-service:
        restart: unless-stopped
        container_name: notifications-service
        image: ghcr.io/drummer143/task-manager/notifications-service:${IMAGE_TAG:-latest}
        depends_on:
            rmq:
                condition: service_healthy
            authentik_server:
                condition: service_healthy
        deploy:
            resources:
                limits:
                    memory: 256M
                    cpus: "0.25"
        environment:
            PORT: 8079
            RABBITMQ_URL: ${RABBITMQ_URL}
            DATABASE_URL: ${DATABASE_URL}
            SECRET_KEY_BASE: ${SECRET_KEY_BASE}
            AUTHENTIK_ISSUER: ${AUTHENTIK_ISSUER}
            AUTHENTIK_JWKS_URL: ${AUTHENTIK_JWKS_URL}
            AUTHENTIK_AUDIENCE: ${AUTHENTIK_AUDIENCE}
        networks:
            - net

    chat-service:
        restart: unless-stopped
        container_name: chat-service
        image: ghcr.io/drummer143/task-manager/chat-service:${IMAGE_TAG:-latest}
        depends_on:
            postgres:
                condition: service_healthy
            authentik_server:
                condition: service_healthy
        deploy:
            resources:
                limits:
                    memory: 256M
                    cpus: "0.25"
        environment:
            PORT: 8078
            DATABASE_URL: ${DATABASE_URL}
            SECRET_KEY_BASE: ${SECRET_KEY_BASE}
            AUTHENTIK_ISSUER: ${AUTHENTIK_ISSUER}
            AUTHENTIK_JWKS_URL: ${AUTHENTIK_JWKS_URL}
            AUTHENTIK_AUDIENCE: ${AUTHENTIK_AUDIENCE}
        networks:
            - net

    task-manager:
        restart: unless-stopped
        container_name: task-manager
        image: ghcr.io/drummer143/task-manager/task-manager:${IMAGE_TAG:-latest}
        deploy:
            resources:
                limits:
                    memory: 48M
                    cpus: "0.25"
        networks:
            - net

networks:
    net:

volumes:
    pgdata:
    storage_data:
    rmqdata:
    redisdata:
    caddy_data:
    caddy_config:
    authentik_media:
    authentik_templates:
    authentik_blueprints:
