@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-min-width: 62px;
    --header-height: 3rem;
}

* {
    box-sizing: border-box;

    outline: none;
}

input[type="number"].number-input-arrows-hidden {
    appearance: textfield;
}

input[type="number"].number-input-arrows-hidden::-webkit-outer-spin-button,
input[type="number"].number-input-arrows-hidden::-webkit-inner-spin-button {
    appearance: none;
}
